mixin content-news()
  +b.content-news
    .container
      +e.left
        +e('p').head Have you ever heard of virtual business? The solutions is Front Desk Helpers virtual office&call center
        +e('p').text Have you ever thought of setting up your own business to work remotely? Take a chance and try – it
          | will change your management and business concept fundamentally! Change your business and make it ready to
          | communicate the way your customers want to. That’s why we want you to offer today Front Desk Helpers Virtual
          | office call center presentation! But at the beginning, if you want to succeed today in any of your business
          | activity area you need to know the most important surprising facts of virtual reality 2017.
        +e('img')(src='assets/images/news_image_1.png' alt='').image_big
        +e('p').text Front Desk Helpers Virtual office call center presentation: virtual office and remote call center –
          | outbound calls
        +e('p').text First of all, more than 70% of callers do not want to listen to the automated phone system. So, they
          | will hang up if they can’t reach a live person and they will form an impression of any business within first
          | seven seconds. The second thing, that really matters, that about 45% of customers made their purchase by
          | telephone in 2017. More than 90% of marketing budgets were spent in order to get consumers to call. And more
          | than 30% of all callers will never call you back again if they didn’t reach you for the first time.
        +e('p').text The second thing, that really matters, that about 45% of customers made their purchase by telephone
          | in 2017. More than 90% of marketing budgets were spent in order to get consumers to call. And more than 30%
          | of all callers will never call you back again if they didn’t reach you for the first time.
      +e.right
        +e('p').right-head More articles
        +e('img')(src='assets/images/news_image_1.png' alt='').image_right
        +e('p').small-head 5 benefits of the remote work for employees
        +e('p').small-text 5 remote work benefits for employees while the business owners also make a profit Working
          | remotely benefits not only employers! The advantages of working from home are all about what every side of
          | this process wants to get from it for itself. This topic splits people into two camps. The first part
          | believes that remote employees…
        +e('hr').line
        +e('p').small-head Artificial intelligence: contact center work advantages.
        +e('p').small-text Computer and software technologies are speeding in their development. Nowadays we can use
          | different programs and applications in the work of any contact center. Experts in this sphere highlight the
          | most productive and interesting ways of using artificial intelligence in everyday routine to improve contact
          | center productivity. So it may become the most effective investment…
        +e('p').small-head Call center staff: training and knowledge database
        +e('p').small-text Staff training and knowledge database It goes without saying that the success of any call
          | center depends first on upon the staff. Having a high-qualified call center staff is important for a
          | company’s success the same as finding a good call center software. No technology or equipment can provide
          | a necessary level of service to…
        +e('button').btn.button-main(type="button") try now
      +e('p').bottom Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        | labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        | aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
        | eu fugiat nulla pariatur. Excepteur sint Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        | ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        | velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint