mixin page-desc()
  +b('section').page-desc
    +b.container
      +b.row
        +b.col
          +b('h1').text-white.font-weight-bold.page-title Services
          +b('p') Today a lot of companies address to outsourcing third parties for assistance in order to cut expenses and focus on earning more money. Outsourcing companies provide remote virtual services for businesses to help them grow and increase their income. Business owners have a chance to save time and money by delegating a part of work to remote staff and taking care of the most important for their companies things. Virtual staff assistance is very popular now and it’s not in vain. Remote virtual services become a solution for most growing companies. The last ones, most of all, want to save money and get professional help at the same time.
