body
  margin: 0

.root
  height: 100%

  font-family: 'Muller', 'Arial', sans-serif
  line-height: 1.25
  color: #282828

  background-color: #ebebeb
  overflow: hidden

.page-title
  margin-top: 30px
  margin-bottom: 25px

  font-size: 35px
